         h1
		{
		 text-decoration:underline #f74242;	
		 font-family: 'Keania One', cursive;
		 font-size:40px;
		 color:#f74242;
		 padding:0px;
		 padding-left:33px;
		}
	     body
		 {
		 background:#d6d5aa;
		 width:400px;
		 margin:auto;
		 }
		 .info
		 {
		 font-family: 'Keania One', cursive;
		 font-size:20px;
		 color:#f74242;
		 }
		table
		{
			border-collapse:collapse;
		}
		.box
		{
			border: 2px solid #f74242;
		}
		 .press
		 {
		  background-color: #f74242;
          border-color:none;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          border-radius: 10px;
		  font-size: 16px;
		  font-family: 'Keania One', cursive;
          margin: 4px 2px;
		  outline: none;
		  cursor:pointer;
		 }
		 input[type=text]
		 {
          width: 100%;
          padding: 6px 13px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid #f74242;
          border-radius: 4px;
		  background-color: none;
		  font-family:'Keania One', cursive;
		  color:#f74242;
		  outline: none;
		  cursor:none;
         }